[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Stats
Comment=Stats Program
Exec=/usr/bin/gnome-terminal -e "bash -c '/usr/local/bin/stats; bash'"
Icon=/home/kbrown/Desktop/stats.png
Terminal=false
Type=Application
Categories=Utility;Application;
