[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Stats
Comment=Stats Program
Exec=/home/username/Documents/Desktop/Stats — %u
Icon=/home/kbrown/Documents/Desktop/stats.png
Terminal=false
Type=Application
Categories=Utility;Application;
